<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include ('partials/header.html')%>

</head>

<body>

    <%- include ('partials/navigation.html')%>

    <div class="container p-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header bg-dark text-white text-center">
                        <h3>Contactame</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Email</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <hr style="opacity: 0;">
                            <div class="form-group">
                              <label for="exampleInputPassword1">Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <hr style="opacity: 0;">
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                              <label class="form-check-label" for="exampleCheck1">No soy un robot</label>
                            </div>
                            <hr style="opacity: 0;">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include ('partials/footer.html')%>

</body>

</html>